<div class="alert alert-info">
  <div class="row">
    <div class="col-7">
      AWS S3 Example
    </div>
    <div class="col-5">
      <div class="form-group input-group d-flex">
        <label>Logged As</label>
        <select class="form-control">
          <option *ngFor="let user of usersList" [value]="user.id">{{user.label}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
<label class="btn btn-default">
  <input type="file" (change)="selectFile($event)">
</label>

<button class="btn btn-success" [disabled]="!selectedFiles" (click)="upload()">Upload</button>
<p-toast position="top-right"></p-toast>

<app-files-list></app-files-list>